<!doctype html>
<html lang="en">
  {% load cart %}
  {% load custom_filter %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Hello, world!</title>

  <style>
    nav{
      background-color: white;
    }
    .one-edge-shadow {
              box-shadow: 0 8px 2px -5px rgb(246, 245, 245);
}
.display-8{
  font-weight: 200;
  font-size: 30px;
}
  </style>
</head>

<body>

  <!-- navbar -->

  <nav class="one-edge-shadow 
  sticky-top navbar 
  navbar-expand-lg
   navbar-light bg-white">
    <a class="navbar-brand" href="/">Watch Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a class="nav-link" href="/store">Store <span class="sr-only">(current)</span></a> -->
        

            <a href="/" class="nav-link">All Products</a>
    
            {% for category in categories %}
            <li><a href="/?category={{category.id}}"
              class="nav-link">{{category.name}}<span class="sr-only">(current)</span></a></li>
            {% endfor %}
          
          </li>

      </ul>


      <ul class=" navbar-nav my-2 my-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="/cart">Cart 
            <span class="badge badge-info">{{request.session.cart.keys|length}}</span>
            <span class="sr-only">(current)</span></a>
        </li>
        {% if request.session.customer %}
        
        <li class="nav-item ">
          <a class="nav-link" href="/orders">Orders<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/logout">SignOut<span class="sr-only">(current)</span></a>
        </li>
        {% else %}
       
        <li class="nav-item ">
          <a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/login">SignIn<span class="sr-only">(current)</span></a>
        </li>
        {% endif %}



      </ul>


    </div>
  </nav>
  {% block hero %}
  <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
          <div class="text-center text-white">
              <h1 class="display-4 fw-bolder">Mega Watch Store</h1>
              <p class="lead fw-normal text-white-50 mb-0">Shop Now With Exciting Offer</p>
          </div>
      </div>
  </header>
  {% endblock %} <br><br><br><br>
  <div id='products' class="col-lg-9 mx-auto">
    <div class="row mx-auto">
      {% for product in products %}
      <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
        <img class="card-img-top" src="{{product.image.url}}" style="height: 20rem;object-fit: cover;padding:1rem;" alt="Card image cap">
        <div class="card-body">
          <p class="card-title">{{product.name}}</p>
          <p class="card-text"><b>{{product.price|currency}}</b></p>
          <!-- {{product | is_in_cart:request.session.cart }} -->
        </div>

        <div class="card-footer p-0 no-gutters">

          {% if product|is_in_cart:request.session.cart %}
          <div class="row no-gutters">
            <form action="/#{{product.id}}" class="col-2 " method="post">
              {% csrf_token %}
              <input hidden type="text" name='product' value='{{product.id}}'>
              <input hidden type="text" name='remove' value='True'>
              <input type="submit" value=" - " class="btn btn-block btn-light border-right">
            </form>
            <div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
            <form action="/#{{product.id}}" class="col-2 " method="post">
              {% csrf_token %}
              <input hidden type="text" name='product' value='{{product.id}}'>
              <input type="submit" value=" + " class="btn btn-block btn-light border-left">
            </form>
          </div>
          {% else %}
          <form action="/#{{product.id}}" method="POST" class="btn-block">
            {% csrf_token %}
            <input hidden type="text" name='product' value='{{product.id}}'>
            <input type="submit" class="float-right btn btn-light  form-control"
              value="Add To Cart">
          </form>
          {% endif %}

        </div>

      </div>
      {% endfor %}
    </div>
  </div>


    {% block content %}
    {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>